@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 82vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    overflow: hidden;
}

.text-effect {
    font-size: 10rem;
    font-weight: 900;
    gap: 8px;
    color: transparent;
}

.text-effect > span {
    animation: subtleGlow 2s ease-in-out infinite alternate;
}

@keyframes subtleGlow {
    0% {
        text-shadow: 0 0 15px rgba(13, 71, 161, 0.8), 0 0 30px rgba(103, 58, 183, 0.8), 0 0 40px rgba(255, 255, 255, 0.6);
    }
    100% {
        color: #0066ff;
    }
}

.text-shine > span:nth-child(2) { animation-delay: .2s; }
.text-shine > span:nth-child(3) { animation-delay: .4s; }
.text-shine > span:nth-child(4) { animation-delay: .6s; }
.text-shine > span:nth-child(5) { animation-delay: .8s; }
.text-shine > span:nth-child(6) { animation-delay: 1s; }
.text-shine > span:nth-child(7) { animation-delay: 1.2s; }

@media screen and (max-width: 574px) {
    .text-effect{
        font-size: 2rem;
        font-weight: 800;
        text-align: center;
        gap: 4px;
    }
}
